<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% include 'santorini/template-parts/head.html' %}

<body>
    <main>
        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox" src="{% static 'santorini/assets/img/brand/light.svg' %}" height="60" alt="Volt logo">
        </div>
        <!-- Section -->
        <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
            <div class="container">
                <p class="text-center"><a href="#" class="text-gray-700"><i class="fas fa-angle-left mr-2"></i> Back to homepage</a></p>
                <div class="row justify-content-center form-bg-image" data-background-lg="../../assets/img/illustrations/signin.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Create a Ticket</h1>
                            </div>
                            <form method="post" class="mt-4" action="{{request.scheme}}://{{ request.META.HTTP_HOST }}/report">
                                    {% csrf_token %}
                                    {% for form_field in form %}
                                        <div class="form-group mb-4">
                                            {{ form_field.label_tag }}
                                            <div class="input-group">
                                                {{ form_field }}
                                            </div>
                                        </div>  
                                    {% endfor %}
                                    <button type="submit" class="btn btn-block btn-primary">Sign in</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include 'santorini/template-parts/footer.html' %}

</body>

</html>
